# Compiled
*.elc

# Packaging
.cask/
.eask/
.eldev/
.keg/

# Built distribution
dist/

# Backup files
*~
\#*\#
.\#*

# Undo-tree save-files
*.~undo-tree

# Auto-save / tramp
auto-save-list
tramp

# Token / secrets
*.token
/tmp/gh_token